Repository SaulMoro/ngrx-rtk-query, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: ngrx-rtk-query, ğŸ“Œ area: examples, ğŸ“Œ area: docs web, ğŸ“š documentation, ğŸ“Œ area: ci

.github/labeler.yml:

'ğŸ“Œ area: ngrx-rtk-query':
  - any: ['packages/ngrx-rtk-query/**/*']

'ğŸ“Œ area: examples':
  - any: ['examples/**/*']

'ğŸ“Œ area: docs web':
  - any: ['docs/**/*']

'ğŸ“š documentation':
  - any: ['**/*.md']

'ğŸ“Œ area: ci':
  - any: ['.github/**/*']

ci: add ci
  .github/composite-actions/install/action.yml
Labels: ğŸ“Œ area: ci

ci: add ci
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

chore: fix initial lint
  examples/basic-ngrx-store-e2e/.eslintrc.json
Labels: ğŸ“Œ area: examples

docs: add logo
  logo.svg
Labels: none

docs: add logo
  packages/ngrx-rtk-query/README.md
Labels: ğŸ“Œ area: ngrx-rtk-query, ğŸ“š documentation

Create LICENSE
  LICENSE
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: ğŸ“š documentation

fix: vitest
  examples/basic-ngrx-store/project.json
  examples/basic-ngrx-store/vite.config.ts
  nx.json
  packages/ngrx-rtk-query/project.json
  packages/ngrx-rtk-query/vite.config.ts
Labels: ğŸ“Œ area: ngrx-rtk-query, ğŸ“Œ area: examples
