Repository SaulMoro/ngrx-rtk-query, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: ngrx-rtk-query, ğŸ“Œ area: examples, ğŸ“š documentation, ğŸ“Œ area: ci

.github/labeler.yml:

'ğŸ“Œ area: ngrx-rtk-query':
  - any: ['packages/ngrx-rtk-query/**/*']

'ğŸ“Œ area: examples':
  - any: ['examples/**/*']

'ğŸ“š documentation':
  - any: ['docs/**/*']
  - any: ['**/*.md']

'ğŸ“Œ area: ci':
  - any: ['.github/**/*']

ci: fix e2e tests
  package.json
Labels: none

chore: initial repo
  .changeset/old-mails-dress.md
  .github/workflows/ci.yml
  package.json
Labels: ğŸ“š documentation, ğŸ“Œ area: ci

style: fix format issues
  .prettierignore
Labels: none

ci: fix e2e playwright setup
  .github/workflows/ci.yml
Labels: ğŸ“Œ area: ci

ci: fix e2e playwright setup
  .github/workflows/ci.yml
Labels: ğŸ“Œ area: ci

ci: update pnpm/action-setup
  .github/composite-actions/install/action.yml
Labels: ğŸ“Œ area: ci

ci: update actions/labeler to v5
  .github/workflows/pr-labeler.yml
Labels: ğŸ“Œ area: ci

feat(lib): update to rtk 2.2.2
  examples/basic-ngrx-store/src/mockServiceWorker.js
  package.json
  packages/ngrx-rtk-query/package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: ngrx-rtk-query, ğŸ“Œ area: examples

chore: new release
  .changeset/quick-laws-smile.md
Labels: ğŸ“š documentation

docs: add serve script
  package.json
  pnpm-lock.yaml
Labels: none
